.scrollContainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 100%;
  padding: 28px 32px;
  border-radius: 32px;
  font-size: 24px;
  line-height: 32px;
  word-wrap: break-word;
  overflow: hidden;
}

.myMessage {
  align-self: flex-end;
  background-color: #33473a;
  color: var(--color-text);
}

.theirMessage {
  align-self: flex-start;
  background-color: var(--color-fill-dark);
  color: var(--color-text);
}

.error {
  background-color: lightcoral;
  color: #fff;
}