.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.innerContainer {
  width: 100%;
  text-align: center;
}

.title {
  margin-bottom: 40px;
  display: block;
}