.container {
  display: flex;
  height: 100dvh;
}

.sidebar {
  width: 300px;
  background-color: #1a1a1a;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.selector {
  padding: 20px 20px 0 20px;
}

.chats {
  flex-grow: 1;
  height: 1%;
  overflow-y: auto;
  padding: 20px;
}

.content {
  width: 1%;
  flex-grow: 1;
}
