/* Основной контейнер */
.select {
    position: relative;
    width: 100%;
    max-width: 280px;
}

.selectHeader {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: var(--color-fill);
    cursor: pointer;
    gap: 8px;
    border: 1px solid var(--color-stroke);
}

/* Выбранное значение */
.selectedValue {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Стрелка */
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    transition: transform 0.2s ease;
}

.rotated {
    transform: rotate(180deg);
}

/* Контейнер с опциями */
.optionsContainer {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    background-color: var(--color-fill);
    border-radius: 8px;
    z-index: 100;
    color: var(--color-text);
    padding-top: 8px;
    border: 1px solid var(--color-stroke);
}

/* Треугольник */
.optionsContainer::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;;
    width: 12px;
    height: 6px;
    background: transparent;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: var(--color-fill);
    z-index: 101;
}

/* Список опций */
.optionsList {
    margin: 0;
    padding: 0 0 8px 0;
    list-style: none;
    max-height: 300px;
    overflow-y: auto;
}

/* Отдельная опция */
.option {
    padding: 10px 16px;
    color: var(--color-text);
    cursor: pointer;
    transition: background 0.2s;
}

.option:hover,
.option.selected {
    background-color: var(--color-fill-dark);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.disabled .selectHeader {
    background-color: var(--color-fill);
    cursor: not-allowed;
}
