:root {
  --color-text: #ffffff;
  --color-text-secondary: #aaaaaa;
  --color-fill: #252525;
  --color-fill-dark: #161616;
  --color-stroke: #303030;
  --color-stroke-active: #4eb97f;
  --color-green: #38a06c;
  --color-green-light: #54c287;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-green-light);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-green);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-fill-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-fill-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-green-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p, pre, code {
  white-space: pre-wrap; /* ��������� ������� ����� */
  word-wrap: break-word; /* ������� ������� ���� */
}

p {
  word-break: break-word; /* ������� ����, ���� ��� ������� ������� */
}

pre {
  overflow: auto; /* ��� �������� ������ � �������������� ���������� */
}